@using Microsoft.AspNet.Identity



<!-- Top Bar -->
<div id="topBar" class="dark">
    <div class="container">

        <!-- right -->
        <ul class="top-links list-inline pull-right">

            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()                    
                    <li>
                        @Html.ActionLink("Hello " + User.Identity.Name, "Index", "Manage", null, new { @class= "text-welcome hidden-xs", title = "Manage" })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i>Log off</a></li>                    
                }
            }
            else
            {
               
                <li>@Html.ActionLink("Register", "Register", "Account", null, new { @class="hidden-xs", id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "hidden-xs", id = "loginLink" })</li>
                
            }
        </ul>        
    </div>
</div>
<!-- /Top Bar -->
