@{
    ViewBag.Title = "Check your mail";
}


<div class="heading heading-v4 margin-bottom-40">
    <h2>@ViewBag.Title</h2>
</div>

<div class="alert alert-success fade in">
    <p>Please check your email for a confirmation link. Click on the link to complete your registration.</p>
</div>