
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
@{ 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Admin Options</h2>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="@Url.Action("Index", "ApplicationUsers", null)" class="list-group-item">Application Users</a>
                <a href="@Url.Action("Index", "ApplicationRoles", null)" class="list-group-item">Application Roles</a>                
            </div>
        </div>
    </div>
}


