@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "About";
}
<h3>Notice of the Fifth Quadrennial Session for Central Jamaica Conference</h3>
<p>The Central Jamaica Conference of Seventh-day Adventists will host its Fifth Quadrennial Session on June 13-14, 2018 at Camp Verley, Spring Gardens, St. Catherine under the theme “His Plan, Our Mission”. The Session will open on Wednesday June 13, 2018 and closes on June 14.</p>
<h4>The sessions are called to:</h4>
<ul>
    <li>Receive reports from the officers and the various departments.</li>
    <li>Elect administrators and departmental directors to serve the ensuing term.</li>
    <li>Consider revisions and changes to the Conference’s by-laws.</li>
    <li>Discuss and appropriately adopt the strategic plan to guide the activities of the Conferences.</li>
    <li>Transact such other business as may be placed before the delegates.</li>
</ul>
    