@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Contact";
}

<address>
    Camp Verley<br />
    Spring Gardens, St. Catherine<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:damian.chambers@centralja.org">damian.chambers@centralja.org</a><br />
    <strong>Administrator:</strong> <a href="mailto:nevail.barrett@centralja.org">nevail.barrett@centralja.org</a>
</address>