@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@{
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="price-clean">                
                <h5> REGISTRATION </h5>
                <hr />
                <p>Open Delegates' List </p>
                <hr />
                <a href="@Url.Action("Index", "SessionDelegates")", class="btn btn-3d btn-teal">Start Registration</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="price-clean">                
                <h5> INSTITUTIONS </h5>
                <hr />
                <p>Add or remove Institution information.</p>
                <hr />
                <a href="@Url.Action("Index", "Institutions")" class="btn btn-3d btn-primary">Learn More</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="price-clean">                
                <h5> USER MANAGEMENT </h5>
                <hr />
                <p>Open User Information</p>
                <hr />
                <a href="@Url.Action("Index", "Account")" class="btn btn-3d btn-teal">Learn More</a>
            </div>
        </div>
    </div>
}